@import './fonts.scss';
@import './flex.scss';
@import './box-shadow.scss';
@import './text-shadow.scss';
@import './radius.scss';

$light-font: 'Light';
$medium-font: 'Medium';
$book-font:'Book';
$bold-font:'Bold';

$xx-small: 9px;
$x-small: 10px;
$small: 13px;
$medium: 16px;
$large: 18px;
$x-large: 24px;
$xx-large: 32px;
$xxx-large: 48px;