@import './Content/sass/variable.scss';

.header-right-list {
    display: flex;

    &>li {
        &:first-child {
            margin-right: 10px;
        }
    }
}

.p-button {
    background-color: red;
}